/* Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
/* costum scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;

}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar {
 border-radius: 5rem;
  
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fcfd;
}
/* header starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo img {
  width: 210px;
 
}
.navbar{
  display: flex;
}
.navbar li{
  position: relative;
}
header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.5s;
  font-size: 1rem;
  padding: 10px 15px;
}

.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
  background-color: #2596be;
}
.navbar a:hover::after {
  color: #2596be;
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none; 
  
}
.header-btn a {
  padding: 8px 20px;
  color: #000; 
  font-weight: 500;
  cursor: pointer;
}
.header-btn .sign-in {
  color: #fff;
  background-color:#2596be ;
  border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
  background-color: #8b4c4c;
  color: white;
  border: none;
}
.sign-up {
  /* background-color: #2596be; */
  color: white;
  border: none;
  transition: color 0.5s, border 0.5s, background-color 0.5s;
}
.sign-up:hover {
  color: #2596be;
  border: 1px solid #2596be;
  background-color: white;
} 
/* header ends */

/* hero section starts */
section div img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero-section-background-pic {
  position: relative;
}
.hero-section-description {
  position: absolute;
  left: 10%;
  top: 30%;
}
.hero-section-description h1 {
  width: 500px;
  font-size: 50px;
  line-height: 65px;
}
.hero-section-description p {
  width: 480px;
  margin-top: 20px;
  line-height: 28px;
  color: rgb(99, 96, 96);
}
.hero-section-description h1 span {
  color: #2596be;
}
.hero-section-description button,
.Submit {
  background-color: #2596be;
  color: white;
  padding: 10px 25px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.Submit :hover {
  background-color: #8b4c4c;
  color: white;
  border: none;
}
.schedule {
  position: absolute;
  bottom: 0;
  left: 20%;
  gap: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  background-color: white;
  border-radius: 3px;
}
/* hero section ends */

/* ride session starts here */
.heading {
  text-align: center;

}
.heading span {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;

}
.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  gap: 1rem;
  margin-top: 2rem;
}

.ride-container .box {
  text-align: center;
  padding: 20px;

}
.ride-container .box .bx {
  font-size: 34px;
  padding: 10px;
  background-color: #eeeff1;
  border-radius: 0.5rem;
  color: #2596be ;

}
.ride-container .box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover, .ride-container .bx .bxs-calendar-star, .bx .bxs-calendar-check{
  background: #2596be;
  color: #fff;
}
/* main section starts */
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.main-section p {
  padding-bottom: 5%;
}
.main-section h1 {
  font-size: 50px;
  padding-top: 5%;
  margin-bottom: 10px;
}
.main-section h1 span {
  color: #2596be;
}
.main-section-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-items: center;
  row-gap: 20px;
  column-gap: 10px;
  padding: 2% 10%;
}
.main-section-row {
  border: 1px solid gray;
  width: 350px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 0 7%;
  object-fit: cover;
  object-position: center;
}
.main-section-row img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.rating-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating-row span {
  color: #2596be;
  font-size: 17px;
}
.rating-row img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.car-detail {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  margin-bottom: 15px;
}
.car-detail div i {
  color: #2596be;
}
.rent-car-row {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.rent-car-row button {
  color: #fff;
  border: 1px solid #2596be;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2596be;
}

.rent-car-row button:hover {
  background-color: #8b4c4c;
  color: white;
  border: none;
}
.rent-car-row p span {
  font-size: 14px;
  color: rgb(196, 194, 194);
}
/* main section ends */


              /* About us  */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.about-img img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

}

.about-text span {
  font-weight: 700;
  text-transform: uppercase;

}

.about-text p {
  margin: 0.5rem 0 1.4rem;

}

.about-text .btn {
  padding: 10px 20px;
  background: #2596be;
  color: #fff;
  border-radius: 0.5rem;
}

.about-text .btn:hover {
  background: #8b4c4c;
}
           /* why choose us starts */
.why-choose-us {
  position: relative;
  padding-top: 5%;
}

.why-choose-us-col-2 {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}
.why-choose-us-col-2-row-1 p {
  width: 600px;
  text-align: center;
  word-spacing: 3px;
  color: #7a7979;
}
.why-choose-us-col-2-row-1 h1 {
  font-size: 50px;
  margin-top: 50px;
}
.why-choose-us-col-2-row-1 h1 span {
  color: #2596be;
}
.why-choose-us img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
  object-position: right;
}
.why-choose-us-col-2-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-choose-us-col-2-row-2 {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 450px 450px;
  padding: 7% 15%;
}
.why-choose-us-grid-row-1 i {
  padding: 8px;
  color: white;
  border-radius: 3px;
  font-size: 30px;
  background-color: #2596be;
}
.why-choose-us-grid {
  display: flex;
  gap: 1rem;
}
.why-choose-us-grid-row-2 p {
  width: 350px;
  margin-top: 6px;
  color: #7a7979;
}
/* why choose us section ends */


/* Our Achievement section starts */

.our-achievement,
.our-achievement-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.our-achievement-col-1 p {
  color: #7a7979;
}
.our-achievement-col-1 h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.our-achievement-col-1 h1 span {
  color: #2596be;
}
.our-achievement-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 2px rgba(37, 150, 190, 0.4);
  padding: 30px 50px;
  border-radius: 5px;
  width: 50%;
}
.our-achievement-col-2-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-achievement-col-2-row h3 {
  font-size: 30px;
  color: #2596be;
}
.our-achievement-col-2-row p {
  font-size: 15px;
  margin-top: 8px;
  font-weight: bold;
}
/* Our Achievement section ends */


/* testimonial starts */
.testimonial-section {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonial-title span {
  color: #2596be;
}
.testimonial-title {
  font-size: 45px;
  margin-top: 40px;
  text-align: center;
  color: var(--teritary-color);
  font-weight: bold;
}
.testimonial-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vh;
}
.testimonial-slider {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 1s;
}
.testimonial-slider img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  padding: 60px 0 20px 0;
  /* box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1); */
  /* border-radius: 1rem; */
}
.testimonial-slider i {
  font-size: 40px;
  color: rgb(76, 155, 76);
  padding: 10px 0;
}
.customer-testimony {
  text-align: center;
  font-size: 17px;
  color: rgb(145, 126, 126);
  padding: 0 15%;
}
.customer-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2596be;
}
.customer-occupation {
  font-size: 18px;
  color: #212121;
  margin-bottom: 10px;
}
.testimonial-main button {
  /* background-color: #000; */
  position: absolute;
  top: 28%;
  border: none;
  font-size: 35px;
  color: #2596be;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50%;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}
/* testimonial ends */
/* contact us section starts*/
.container-get-started {
  background-color: #2596be;
  position: relative;
  height: 50vh;
  margin-bottom: 100px;
  width: 100%;
  border-radius: 15px;
}
.get-started-content {
  padding-left: 7%;
  padding-top: 5%;
  position: absolute;
  right: 0;
  width: 600px;
  padding-right: 20px;
}
.get-started-content h1 {
  color: white;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.get-started-content p {
  color: white;
  line-height: 24px;
}
.get-started-content button {
  background-color: white;
  color: #000;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.get-started-car-image {
  position: absolute;
  top: 20%;
  left: -13%;
}
.get-started-car-image img {
  width: 80%;
  object-position: right;
}
/* contact us section ends*/

/* Footer starts */

.footer-section {
  background-color: #2596be;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 5%;
  gap: 10px;
}

.footer-main-col {
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.footer-section h6 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}
.footer-main-col-center {
  display: flex;
}
.footer-col a {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}
.footer-col {
  display: flex;
  flex-direction: column;
}
.copy-right {
  text-align: center;
  background-color: #2596be;
  color: white;
  height: 70px;
  padding-top: 30px;
}

/* Footer ends */

@media (max-width: 991px) {
  header {
    padding: 18px 40px;
  }
  section {
    padding: 50px 40px;
  }
  
}

@media (max-width: 881px) {
  .home {
    background-position: left;
  }
  .schedule {
    bottom: 0.2rem;
    left: 40px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 11px 40px;
  }
  #menu-icon {
    display: initial;
  }
  .sign-up {
    display: none;
  }
  .hero-section-description {
    grid-template-columns: 1fr;
  }
  .schedule {
    position: unset;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1rem;
    border-left: 2px solid #2596be;
    margin: 1rem;
    display: block;
  }
  .navbar a:hover {
    color: #fff;
    background: #2596be;
    border: none;
  }
  .navbar a::after {
    display: none;
  }
  .heading span {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .heading h1 {
    font-size: 1.3rem;
  }
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    padding: 1rem;
    order: 2;
  }
}
@media (max-width: 568px) {
  .copy-right {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .hero-section-description {
    padding: 5px 14px;
  }

}
